<div class="about">
  <div class="about__container container">
    <div class="about__wrapper " data-aos="zoom-in" data-aos-duration="1000">
      <p class="about__text">
       <span>Softline</span>&nbsp;&mdash; ведущий поставщик IT-решений и&nbsp;сервисов.* Мы&nbsp;предлагаем комплексные IT-решения,
        облака, программное и&nbsp;аппаратное обеспечение, решения по&nbsp;цифровой трансформации
        и&nbsp;кибербезопасности, а&nbsp;также широкий спектр IT-услуг.
      </p>
    </div>
  </div>
</div>