<section class="benefits">
  <div class="benefits__container container">
    <div class="benefits__wrapper">
      <h2 class="title benefits__title"  data-aos="fade-up" data-aos-duration="500">
        Компенсационный пакет
      </h2>
      <ul class="benefits__list">
        <li class="benefits__item"  data-aos="zoom-in" data-aos-duration="500">
          <div class="benefits__item-wrap">
            <div class="benefits__item-image">
              <img src="/image/benefits/1.png" alt="">
            </div>
            <p class="benefits__item-text">
              ДМС
            </p>
          </div>
        </li>
        <li class="benefits__item"  data-aos="zoom-in" data-aos-duration="500">
          <div class="benefits__item-wrap">
            <div class="benefits__item-image">
              <img src="/image/benefits/2.png" alt="">
            </div>
            <p class="benefits__item-text">
              Выходной <br> в&nbsp;день рождения
            </p>
          </div>
        </li>
        <li class="benefits__item"  data-aos="zoom-in" data-aos-duration="500">
          <div class="benefits__item-wrap">
            <div class="benefits__item-image">
              <img src="/image/benefits/3.png" alt="">
            </div>
            <p class="benefits__item-text">
              Корпоративная мобильная связь
            </p>
          </div>
        </li>
        <li class="benefits__item"  data-aos="zoom-in" data-aos-duration="500">
          <div class="benefits__item-wrap">
            <div class="benefits__item-image">
              <img src="/image/benefits/4.png" alt="">
            </div>
            <p class="benefits__item-text">
              Корпоративные скидки на&nbsp;спорт
            </p>
          </div>
        </li>
        <li class="benefits__item"  data-aos="zoom-in" data-aos-duration="500">
          <div class="benefits__item-wrap">
            <div class="benefits__item-image">
              <img src="/image/benefits/5.png" alt="">
            </div>
            <p class="benefits__item-text">
              LTI
            </p>
          </div>
        </li>

      </ul>
      <hr>
      <h3 class="benefits__subtitle">
        Программа дополнительной мотивации <br>
        <span>доплата 12% от суммы</span>
      </h3>
      <ul class="benefits__list">
        <li class="benefits__item"   data-aos="zoom-in" data-aos-duration="500">
          <div class="benefits__item-wrap">
            <div class="benefits__item-image">
              <img src="/image/benefits/6.png" alt="">
            </div>
            <p class="benefits__item-text">
              Оргтехники
            </p>
          </div>
        </li>
        <li class="benefits__item"  data-aos="zoom-in" data-aos-duration="500">
          <div class="benefits__item-wrap">
            <div class="benefits__item-image">
              <img src="/image/benefits/7.png" alt="">
            </div>
            <p class="benefits__item-text">
              ДМС
            </p>
          </div>
        </li>
        <li class="benefits__item"  data-aos="zoom-in" data-aos-duration="500">
          <div class="benefits__item-wrap">
            <div class="benefits__item-image">
              <img src="/image/benefits/8.png" alt="">
            </div>
            <p class="benefits__item-text">
              Ипотеки
            </p>
          </div>
        </li>


      </ul>
    </div>

  </div>
</section>