<section class="directions">
  <div class="directions__container container">
    <h2 class="title directions__title" data-aos="fade-up" data-aos-duration="500">
      Направления бизнеса
    </h2>
    <ul class="directions__list">
      <li class="directions__item" data-aos="fade-left" data-aos-duration="700" data-aos-delay="100">
        <div class="directions__item-wrap">
          <div class="directions__item-image">
            <img src="/image/directions/1.jpg" alt="Решения Softline">
          </div>
          <div class="directions__item-info">
            <h3 class="directions__item-title">
              Решения Softline
            </h3>
            <div class="directions__item-text">
              ГК&nbsp;Softline предлагает клиентам собственную линейку оборудования (ПК, серверы, торговое оборудование
              и&nbsp;проч.), разработку программных продуктов, облачных решений, решений в&nbsp;области информационной
              безопасности.
            </div>
          </div>
        </div>
      </li>
      <li class="directions__item" data-aos="fade-left" data-aos-duration="700" data-aos-delay="100">
        <div class="directions__item-wrap">
          <div class="directions__item-image">
            <img src="/image/directions/2.jpg" alt="Решения Softline">
          </div>
          <div class="directions__item-info">
            <h3 class="directions__item-title">
              Кибербезопасность
            </h3>
            <div class="directions__item-text">
              Softline обладает всеми необходимыми государственными лицензиями для организации проектов
              по&nbsp;информационной безопасности и&nbsp;аттестации.
            </div>
          </div>
        </div>
      </li>
      <li class="directions__item" data-aos="fade-left" data-aos-duration="700" data-aos-delay="100">
        <div class="directions__item-wrap">
          <div class="directions__item-image">
            <img src="/image/directions/3.jpg" alt="Решения Softline">
          </div>
          <div class="directions__item-info">
            <h3 class="directions__item-title">
              Импортозамещение
            </h3>
            <div class="directions__item-text">
              ГК&nbsp;Softline обладает широчайшим портфелем решений и&nbsp;услуг для импортозамещения, включая&nbsp;ПО
              и&nbsp;оборудование собственного производства.
            </div>
          </div>
        </div>
      </li>
      <li class="directions__item" data-aos="fade-left" data-aos-duration="700" data-aos-delay="100">
        <div class="directions__item-wrap">
          <div class="directions__item-image">
            <img src="/image/directions/4.jpg" alt="Решения Softline">
          </div>
          <div class="directions__item-info">
            <h3 class="directions__item-title">
              Облачные решения
            </h3>
            <div class="directions__item-text">
              Softline использует современные облачные решения как российских, так и&nbsp;международных вендоров для
              масштабирования бизнеса своих клиентов. Подписки, услуги, трансформация.
            </div>
          </div>
        </div>
      </li>
      <li class="directions__item" data-aos="fade-left" data-aos-duration="700" data-aos-delay="100">
        <div class="directions__item-wrap">
          <div class="directions__item-image">
            <img src="/image/directions/5.jpg" alt="Решения Softline">
          </div>
          <div class="directions__item-info">
            <h3 class="directions__item-title">
              Цифровая трансформация
              и&nbsp;разработка&nbsp;ПО
            </h3>
            <div class="directions__item-text">
              Softline использует современные технологи и&nbsp;новые возможности для увеличения производительности
              бизнеса заказчика. В&nbsp;штате ГК&nbsp;Softline&nbsp;&mdash; 2000+&nbsp;разработчиков, которые
              трансформируют&nbsp;ПО под нужды конкретного предприятия.
            </div>
          </div>
        </div>
      </li>
      <li class="directions__item" data-aos="fade-left" data-aos-duration="700" data-aos-delay="100">
        <div class="directions__item-wrap">
          <div class="directions__item-image">
            <img src="/image/directions/6.jpg" alt="Решения Softline">
          </div>
          <div class="directions__item-info">
            <h3 class="directions__item-title">
              Техническая поддержка Softline
            </h3>
            <div class="directions__item-text">
              200+&nbsp;инженеров, 24&nbsp;часа в&nbsp;сутки, 7&nbsp;дней в&nbsp;неделю, 12&nbsp;месяцев в&nbsp;году,
              сервисное партнерство с&nbsp;30+&nbsp;мировыми производителями.
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>

</section>