<section class="gallery">
  <div class="gallery__container container">
    <div class="gallery__wrapper">
      <h2 class="title gallery__title">Корпоративная жизнь</h2>
      <div class="gallery__block-arrow">
        <button class="gallery-arrow gallery-arrow--prev"></button>
        <button class="gallery-arrow gallery-arrow--next"></button>
      </div>

      <div class="gallery-swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="gallery__item">
              <img src="/image/gallery/1.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery__item">
              <img src="/image/gallery/2.jpg" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery__item">
              <img src="/image/gallery/3.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery__item">
              <img src="/image/gallery/4.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery__item">
              <img src="/image/gallery/5.jpg" alt="">
            </div>
          </div>


        </div>
      </div>
      <div class="gallery-pagination"></div>
    </div>
  </div>
</section>