<header class="header">
  <div class="container header__container">
    <nav class="header__nav nav">
        <a href="/" class="header__logo logo">
          <img width="125" height="25" src="image/logo.svg" alt="Softline">
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Облачные решения</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Кибербезопасность</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Импортозамещение</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Цифровая  трансформация</a>
          </li>
        </ul>
    </nav>
  </div>
</header>