<div class="map">
  <div class="map__container container">
   

    
    <nav class="map__navbar navbar" data-aos="fade-up">
      <div class="navbar__head">
        <button class="navbar__select-button">
          Офисы Softline
        </button>
        <div class="navbar__container "  >
          <div class="navbar__container-scroll ">
            <ul class="navbar__head-list " >
          <div class="numbers__active-menu"></div>
        </ul>
          </div>
          
        </div>
        
      </div>
    </nav>
    
    <nav class="map__info-city">
      <div class="map__info-wrapper ">
      </div>
    </nav>
    <div class="map__wrapper" data-aos="zoom-in" data-aos-duration="1000">
      <div class="map__srollbar scrollbar" >
      <img src="" alt="">
      <div class="map__current-region"></div>
      </div>
    </div>
  </div>
</div>