<div class="mission">
  <div class="mission__container container">
    <p class="mission__title title" data-aos="fade-up" data-aos-duration="400">
      Миссия Softline
    </p>
    <p class="mission__text" data-aos="fade-up" data-aos-duration="400" data-aos-delay="400">
      Мы&nbsp;помогаем организациям трансформироваться, работать эффективно и&nbsp;безопасно в&nbsp;условиях цифровой экономики.
    </p>
    <div class="mission__dekor mission__dekor--right"></div>
    <div class="mission__dekor mission__dekor--left"></div>
  </div>
</div>