<div class="numbers">
  <div class="numbers__container container">
    <ul class="numbers__list">
      <li class="numbers__item" data-aos="fade-right">
        <div class="numbers__item-wrap" >
          <div class="numbers__info">
            ><span>30</span> лет
          </div>
          <span class="numbers__text">
            на IT-рынке
          </span>
        </div>
      </li>
      <li class="numbers__item" data-aos="fade-right">
        <div class="numbers__item-wrap" >
          <div class="numbers__info">
            <span>4600</span> 
          </div>
          <span class="numbers__text">
            сотрудников в России
          </span>
        </div>
      </li>
      <li class="numbers__item" data-aos="fade-right">
        <div class="numbers__item-wrap" >
          <div class="numbers__info">
            <span>25</span>
          </div>
          <span class="numbers__text">
            городов России
          </span>
        </div>
      </li>
      <li class="numbers__item" data-aos="fade-right">
        <div class="numbers__item-wrap" >
          <div class="numbers__info">
            <span>2000</span>+
          </div>
          <span class="numbers__text">
            разработчиков
          </span>
        </div>
      </li>
      <li class="numbers__item" data-aos="fade-right">
        <div class="numbers__item-wrap" >
          <div class="numbers__info">
            <span>3000</span>+
          </div>
          <span class="numbers__text">
            сотрудников ежегодно проходят оценку и&nbsp;обучение
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>