<section class="promo">
  <div class="container promo__container">
    <div class="promo__wrapper">
      <h1 class="title promo__title" data-aos="fade-right">
        Поставщик услуг цифровой трансформации и&nbsp;кибербезопасности
      </h1>
      <a href="#" class="promo__button button" data-aos="fade-right" data-aos-delay="200">На сайт</a>
    </div>

  </div>
</section>